html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


//Start Для прижатия подвала к низу
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

//End Для прижатия подвала к низу

a {
  color: inherit;
  text-decoration: none;
}

//обнуление отступов
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body {
  background-color: tomato;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.6px; //Значение присущее всем текстовым элементам на макете
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

//screen reader
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}